**/.git

# FIXME: Everything below this line is not required for CI builds; remove it once CI is ready!

# Output files and directories
**/results*
**/*.xdmf
**/*.h5
**/*.png
**/*.tex
**/*.log
**/*.csv
